*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Cabin';
}
body{
    background-image: url('../attributes/background.jpg');
    background-size: 100%;
}
#main{
    width: 35%;
    margin: 50px auto;
}
#tab-btn{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: center;
}
.login,.register{
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: #37474f75;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 10px;
}
.active{
    background-color: rgba(238, 238, 238, 0.493);
    color: #000;
}
.content,.other{
    width: 100%;
    background-color: rgba(238, 238, 238, 0.5);
    padding: 20px 30px 30px 30px;
    box-shadow: 2px 2px 5px #333;
}
.other{
    display: none;
}
.inp{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 20px;
    border: 2px solid #888;
    border-bottom: 5px solid #888;
    background-color: #fff;
    color: #666;
}
.inp:focus{
    outline: none;
    border: 2px solid #555;
    border-bottom: 5px solid #555;
}
#sub-btn{
    width: 100%;
    padding: 12px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    border-bottom: 5px solid #444;
}
#sub-btn:focus{
    outline: none;
}
#sub-btn:active{
    border: none;
    margin-top: 5px;
}
#forgot{
    font-size: 20px;
    color: #444;
    display: block;
}
h2{
    text-align: center;
    padding-bottom: 15px;
    color: #333;
    font-size: 30px;
    font-variant: small-caps;
}

/* Style Event */
div.container {
  max-width: 1350px;
  margin: 0 auto;
  overflow: hidden
}
.upcomming {
  font-size: 45px;
  text-transform: uppercase;
  border-left: 14px solid rgba(255, 235, 59, 0.78);
  padding-left: 12px;
  margin: 18px 8px;
}
.container .item {
  width: 48%;
  float: left;
  padding: 0 20px;
  background: #fff;
  overflow: hidden;
  margin: 10px
}
.container .item-right, .container .item-left {
  float: left;
  padding: 20px 
}
.container .item-right {
  padding: 190px 50px;
  margin-right: 20px;
  width: 25%;
  position: relative;
  height: 286px
}
.container .item-right .up-border {
  top: -8px;
  right: -35px;
}
.container .item-right .down-border {
  bottom: -85px;
  right: -35px;
}
.container .item-right .num {
  font-size: 60px;
  text-align: center;
  color: #111
}
.container .item-right .day, .container .item-left .event {
  color: #555;
  font-size: 20px;
  margin-bottom: -5px;
  text-align: center;
  margin-top: 10px;
}
.container .item-right .day {
  text-align: center;
  font-size: 25px;
}
.container .item-left {
  width: 71%;
  padding: 34px 0px 19px 46px;
  border-left: 3px dotted #999;
} 
.container .item-left .title {
  color: #111;
  font-size: 34px;
  margin-bottom: 12px;
  text-align: center;
}
.container .item-left .sce {
  margin-top: 5px;
  display: block
}
.container .item-left .sce .icon, .container .item-left .sce p,
.container .item-left .loc .icon, .container .item-left .loc p{
    float: left;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
}
.container .item-left .sce .icon, .container .item-left .loc .icon {
  margin-right: 10px;
  font-size: 20px;
  color: #666
}
.container .item-left .loc {display: block}
.fix {clear: both}
.container .item .tickets, .booked, .cancel{
    color: #fff;
    padding: 6px 14px;
    float: right;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer
}
.container .item .tickets {background: #777}
.container .item .booked {background: #3D71E9}
.container .item .cancel {background: #DF5454}
.linethrough {text-decoration: line-through}
@media only screen and (max-width: 1150px) {
  .container .item {
    width: 100%;
    margin-right: 20px
  }
  div.container {
    margin: 0 20px auto
  }
}